@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: rgb(59, 51, 61); */
    background: linear-gradient(135deg,#9e1f63, #392d91, #9e1f63, #392d91, #9e1f63, #392d91);
    animation: gradientAnimation 10s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

.everything{
    width: 70%;
}

h1{
    color: white;
    font-family: 'Tilt Neon', cursive;
    font-size: 50px;
}

.taskInput{
    padding-left: 10px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 50%;
    font-size: larger;
    font-family: 'Tilt Warp', cursive;
}

.addBtn{
    background-image: linear-gradient(135deg,#9e1f63, #392d91);
    border-style: none;
    height: 50px;
    width: 10%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Tilt Neon', cursive;
}

section{
    margin-top: 40px;
}

h2{
    /* margin-top: 40px; */
    color: white;
    font-family: 'Tilt Neon', cursive;
    font-size: 30px;
}

ul{
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
    scrollbar-width: none;
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 40px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 62, 62); 
}

li{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    height: 40px;
    width: 100%;
    background-color: rgb(46, 40, 48);
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Tilt Neon', cursive;
    padding-left: 10px;
}

.remove{
    color:#392d91;
}

.edit{
    color:#9e1f63;
}

.remove, .edit {
    margin-left: 10px;
    background-color: transparent;
    border-style: none;
    font-size: larger;
    font-family: 'Bebas Neue', cursive;
}
  
.remove {
    margin-left: auto;
}
  
li span {
    flex: 1;
    margin-right: 10px;
}
  

.idk{
    display: flex;
}

.removeAllBtn{
    background-color: transparent;
    border-style: none;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.removeAllBtn img{
    height: 30px;
    width: 30px;
}